:root {
  --color-blue: #389F91;
  --color-red: #E8373A;
  --color-light-red: #f28d8f;
  --color-navy: #031627;
  --color-white: whitesmoke;
}

body {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: var(--color-navy);
  color: var(--color-white);
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.game {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2em;
}

.player_gameboard,
.computer_gameboard {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.position {
  border: 1px solid var(--color-white);
}

.player_gameboard .position.ship {
  background-color: var(--color-light-red);
}

.computer_gameboard .position:hover {
  background-color: var(--color-white);
  cursor: pointer;
}

.position.hit {
  background-color: var(--color-red);
}

.position.miss {
  background-color: var(--color-blue);
}